<?xml version="1.0"?>
<launch>

<arg name="events" default="/dvs/events"/>
<arg name="image" default="/dvs/image_raw"/>
<arg name="camera_info" default="/dvs/camera_info"/>
<arg name="yaml" default=""/>

<!-- camera driver -->
<node name="davis_ros_driver" pkg="davis_ros_driver" type="davis_ros_driver"/>

<!-- filter -->
<!-- <env name="GMON_OUT_PREFIX" value="event_filter"/> -->
<!-- Use gprof /path/to/exe ~/.ros/event_filter.[pid] | gprof2dot | dot -Tpng -o output.png -->
<node pkg="event_filter" type="event_filter" name="event_filter" output="screen" launch-prefix="bash -c 'sleep 1; $0 $@' ">
  <param name="max_interval" type="double" value="0.005"/>
  <param name="search_radius" type="int" value="1"/>
  <param name="min_flicker_hz" type="int" value="50"/>
  <param name="camera_yaml" type="string" value="$(arg yaml)"/>
  <param name="setting_yaml" type="string" value="$(find event_filter)/config/setting.yaml"/>
  <remap from="/events" to="$(arg events)"/> 
  <remap from="/camera_info" to="$(arg camera_info)"/>
</node>

<!-- visualization -->
<group ns = "filter">
  <node name="dvs_renderer" pkg="dvs_renderer" type="dvs_renderer">
    <!-- <param name="display_method" value="grayscale"/> -->
    <param name="display_method" value="red-blue"/>
    <remap from="events" to="/filter/events"/>
    <remap from="image" to="$(arg image)"/>
    <remap from="camera_info" to="$(arg camera_info)"/>
  </node>

  <!-- display -->
  <node name="image_view" pkg="image_view" type="image_view">
    <remap from="image" to="dvs_rendering"/>
  </node>
</group>

<!-- visualization -->
<group ns = "original">
  <node name="dvs_renderer" pkg="dvs_renderer" type="dvs_renderer">
    <!-- <param name="display_method" value="grayscale"/> -->
    <param name="display_method" value="red-blue"/>
    <remap from="events" to="$(arg events)"/>
    <remap from="image" to="$(arg image)"/>
    <remap from="camera_info" to="$(arg camera_info)"/>
  </node>

  <!-- display -->
  <node name="image_view" pkg="image_view" type="image_view">
    <remap from="image" to="dvs_rendering"/>
  </node>
</group>

</launch>